<section id="todos">
  <header>
    <h2>Editing List '<%= @list[:name] %>'</h2>
    <ul>
      <li>
        <form action="/lists/<%= @list_index %>/delete" method="post">
          <button type="submit" class="delete">Delete List</button>
        </form>
      </ul>
    </ul> 
  </header>
</section>

<form action="/lists/<%= @list_index %>" method="post">
  <dl>
    <dt>
      <label for="list_name">New Name For the this List:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @list_index %>">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a href="/lists"> All Lists </a>
<% end %>
